<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h3>list</h3>
    <ul>
        <%list.map(function(item){%>
        <li><%=item.title%></li>
        <%})%>
    </ul>
</body>
</html>